@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "Gilroy";
  src: url("./Assets/assets/fonts/gilroy/Gilroy-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilory", sans-serif;
  scroll-behavior: smooth;
}
#SvgjsPath1024,
#SvgjsPath1030,
#SvgjsPath1036,
#SvgjsPath1042,
#SvgjsPath1048,
#SvgjsPath1054,
#SvgjsPath1060,
#SvgjsPath1066,
#SvgjsPath1072,
#SvgjsPath1078,
#SvgjsPath1084,
#SvgjsPath1090
 {
  fill: rgb(11, 7, 63) !important;
}
.ant-btn{
  background-color: rgb(0, 32, 53);

}

.ant-btn:hover{
  background-color: rgb(0, 32, 53) !important;
}

.ant-input-affix-wrapper{
  border:1px solid rgb(0, 32, 53)!important;


}