@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: 'Gilroy';
    src: url("./Assets/assets/fonts/gilroy/Gilroy-Regular.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilory',sans-serif;
    scroll-behavior: smooth;
}
